<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="headerL">
                <img src="https://www.svgrepo.com/download/477419/shopping-cart-14.svg" alt="cart">
                <p><strong>Shopping cart</strong></p>
            </div>
            <div class="headerR">
                <img src="https://www.svgrepo.com/download/500303/user-identity.svg" alt="signin">
                <p><strong>sign In/ Register</strong></p>
            </div>
        </div>
        <div class="middle1">
            <div class="middle1L">
                <img src="https://apitutorial.dev.radixweb.net/public/uploads/files1676030625964-logo.png" alt="shop">
            </div>
            <div class="middle1R">
                <p><strong>512-219-8000</strong></p>
            </div>
        </div>
        <div class="middle2">
            <p>Yard Signs</p>
            <p>Banners</p>
            <p>Accessories</p>
            <p>Gallery</p>
            <p>About</p>
            <p>Price</p>
            <p>Materials</p>
            <p>FAQ</p>
            <div class="custom">
                <p><strong>Custom Quote</strong></p>
            </div>
        </div>
        <div class="middle3">
            <div class="middle3L">
                <div class="heading">
                    <p><strong>Big Headline</strong></p>
                </div>
                <h2>Smaller subhead Here</h2>
                <div class="paragraph">
                    <p>And this is text copied pasted over and over and over and over</p>
                    <p>and over and over and over and over and over and over and over and </p>
                    <p>over and over and over and over and over and over</p>
                </div>
                <h3>Get Started</h3>
            </div>
            <div class="middle3R">
                <div class="info">
                    <div class="nameinfo">
                        <input type="text" id="name" placeholder="First Name : "
                            style="height: 25px; width:150px ; border-radius: 7px;">
                        <input type="text" id="name2" placeholder="Last Name : "
                            style="height: 25px; width:150px; border-radius: 7px; margin-left: 50px;">
                    </div>
                    <div class="mobileinfo">
                        <input type="text" id="name3" placeholder="Email : "
                            style="height: 25px; width:150px; border-radius: 7px;">
                        <input type="text" id="name4" placeholder="Mobile number : "
                            style="height: 25px; width:150px; border-radius: 7px; margin-left: 50px;">
                    </div>
                    <div class="msginfo">
                        <textarea name="Message" id="" cols="43" rows="4" placeholder="Message"
                            style="border-radius:6px;"></textarea>
                    </div>
                    <div class="btn">
                        <h3>SEND</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="middle4">
            <div class="middle4L">
                <div class="main">
                    <p><strong>This is where an Awesome Title Goes</strong></p>
                </div>
                <div class="content">
                    <p>And this is text copied pasted over and over and over and over and over and over and over</p>
                    <p>and over and over and over and over and over and over and over and over and over and over</p>
                    <p>and over and over and over and over and over and over and over and over and over.</p>
                </div>

            </div>
            <div class="middle4R">
                <h3>Design It Now</h3>
            </div>
        </div>
        <div class="middle5">
            <div class="middle5L">
                <img src="https://apitutorial.dev.radixweb.net/public/uploads/files1676030611766-img.jpg" alt="vedio">
            </div>
            <div class="middle5R">
                <div class="heading2">
                    <p><strong>Watch This</strong></p>
                </div>
                <h2>It's a video,yo!</h2>
                <div class="paragraph2">
                    <p>And this is text copied pasted over and over and</p>
                    <p>over and over and over and over and over and</p>
                    <p>over and over and over and over and over and</p>
                    <p>over and over and over and over and over.</p>
                </div>
                <h3>Learn More</h3>
            </div>
        </div>
        <div class="middle6">
            <div class="image">
                <div class="img1">
                    <img src="https://kantata.marketing/wp-content/uploads/2021/08/project-managemenr-goals.jpg"
                        alt="project1" style="height: 200px; width: 300px;">
                    <h2>Project one</h2>
                    <p><strong>Donec id elit non mi porta gravida at eget</strong></p>
                    <p><strong>metus. Fusce dapibus, justo sit amet risus</strong></p>
                    <p><strong>etiam porta sem.</strong></p>
                </div>
                <div class="img2">
                    <img src="https://schemazone.com/wp-content/uploads/2021/03/Project-Manager.jpg" alt="project2"
                        style="height: 200px; width: 300px;">
                    <h2>Project Two</h2>
                    <p><strong>Donec id elit non mi porta gravida at eget</strong></p>
                    <p><strong>metus. Fusce dapibus, justo sit amet risus</strong></p>
                    <p><strong>etiam porta sem.</strong></p>
                </div>
                <div class="img3">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVJ7yaHgB7p-x3Fo0tZjfvuGBCnI96T3qBFA&usqp=CAU"
                        alt="project3" style="height: 200px; width: 300px;">
                    <h2>Project Three</h2>
                    <p><strong>Donec id elit non mi porta gravida at eget</strong></p>
                    <p><strong>metus. Fusce dapibus, justo sit amet risus</strong></p>
                    <p><strong>etiam porta sem.</strong></p>
                </div>
            </div>
            <div class="learnmore">
                <h3>Learn More</h3>
            </div>
        </div>
        <div class="middle7">
            <div class="middle7L1">
                <ul style="list-style-type: none;">
                    <li><strong>Help</strong></li>
                    <li>Contect Us</li>
                    <li>F.A.Q</li>
                    <li>Sitemap</li>
                    <li>Pricing</li>
                    <li>Redeem Promo</li>
                </ul>
                <ul style="list-style-type: none;">
                    <li><strong>Account</strong></li>
                    <li>My Account</li>
                </ul>
            </div>
            <div class="middle7L2">
                <ul style="list-style-type: none;">
                    <li><strong>Products</strong></li>
                    <li>Yard Signs</li>
                    <li>Real Estate Signs</li>
                    <li>Vinyl Banners</li>
                    <li>Car Magnetics</li>
                    <li>Banner Stands</li>
                    <li>Accessories</li>
                    <li>Design Services</li>
                </ul>
            </div>
            <div class="middle7L3">
                <ul style="list-style-type: none;">
                    <li><strong>Company</strong></li>
                    <li>Overview</li>
                    <li>Press Room</li>
                    <li>Careers</li>
                    <li>Reviews</li>
                </ul>
                <ul style="list-style-type: none;">
                    <li><strong>Programs</strong></li>
                    <li>Affilate</li>
                </ul>
            </div>
            <div class="middle7L4">
                <ul style="list-style-type: none;">
                    <li><strong>Help</strong></li>
                    <li>Contect Us</li>
                    <li>F.A.Q</li>
                    <li>Sitemap</li>
                    <li>Pricing</li>
                    <li>Redeem Promo</li>
                </ul>
                <ul style="list-style-type: none;">
                    <li><strong>Account</strong></li>
                    <li>My Account</li>
                </ul>
            </div>
            <div class="middle7L5">
                <ul style="list-style-type: none;">
                    <li><strong>Products</strong></li>
                    <li>Yard Signs</li>
                    <li>Real Estate Signs</li>
                    <li>Vinyl Banners</li>
                    <li>Car Magnetics</li>
                    <li>Banner Stands</li>
                    <li>Accessories</li>
                    <li>Design Services</li>
                </ul>
            </div>
            <div class="middle7L6">
                <ul style="list-style-type: none;">
                    <li><strong>Company</strong></li>
                    <li>Overview</li>
                    <li>Press Room</li>
                    <li>Careers</li>
                    <li>Reviews</li>
                </ul>
                <ul style="list-style-type: none;">
                    <li><strong>Programs</strong></li>
                    <li>Affilate</li>
                </ul>
            </div>
        </div>
        <div class="footer">
            <p>Copyright @ 2016 SignDepotATX.com</p>
        </div>
    </div>

</body>

</html>